<template>
    <h1> {{data}} <h1>
</template>

<script>
module.exports = {
    data: function(){
        return{
            data: 'this is vue data1!'
        }
    }
}
</script>

<style>
h1{
    color: green
}
</style>
