<template>
  <div id="app">
    <template v-for='post in posts'> 
      <div :key="post.id">
  <b>{{post.title}}</b>
  <p>{{post.body}}</p>
  <hr>
  </div>
  </template>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  },
  data() {
    return {
      endpoint: "https://jsonplaceholder.typicode.com/posts",
      posts: []
    };
  },
  methods: {
    getPosts() {
      this.$http.get(this.endpoint).then(
        function(r) {
          this.posts = r.data;
        },
        function(e) {}
      );
    }
  },
  created: function() {
    this.getPosts();
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
