<template>
  <div>
    <p style='color:green'>this is App.vue</p>
    {{title}}
    <progress-bar :val="15">
      </progress-bar>
  </div>
</template>

<script>
import prgrs from './progress.vue'
  export default{
    data(){
      return {
        title:'value from component'
      }
    },
    components:{
      progressBar: prgrs
    }
  }
</script>
