<template>
  <div>
      <p style='color:green'>{{titleProp}}</p>
    {{title}}
    <progress-bar :val="getVal">
      </progress-bar>
        <input type="number" v-model='val'/>
  </div>
</template>

<script>
import prgrs from './progress.vue'
  export default{
    props:['val', 'titleProp'],
    data(){
      return {
        title:'second value from component'
      }
    },
    computed:{
    getVal(){
            return this.val * 2
    },
    },
    components:{
      progressBar: prgrs
    }
  }
</script>