<template>
    <div>
        <b>Hi</b>
        {{title}} {{val}}
    </div>
</template>

<script>
export default {
    props: {
        max: Number,
        val: Number
    },
    data(){
        return {
        title: 'this is progress component'
        }
    }
}
</script>
